
h3{
    text-align: center;
}
.marginimg{
    margin-top: 5%;
}

.bgfarve{
    margin: 5% 0 5% 0;
}



@media (min-width: 800px){
.grid_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}
.grid_1_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 0.5em;
   margin-top: 5%;
}

.marginimg{
    margin-top: 10%;
}

.imghalv{
    max-width: 50%;
    max-height: 50%;
  }


}

