.bgfarve{
    /* background-color: rgb(217, 82, 37); */
    padding: 1% 2%;
    margin: 5% 0 5% 0;
}

@media (min-width: 700px){

    .grid_1_1{
        display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em
    }
    
    .grid_1_1{
        display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em
    }

    .margintop{
        margin-top: 10%;
    }
    
}