/* Lidt almindelig styling på html, li og a */
/* "z-index"  sætter ul-elementer ovenpå andre elementer med lavere z-indez.*/
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  /* Almindelig styling på header og .navbar */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    color: rgba(33, 114, 117, 1);
    text-decoration-line: underline;
    font-family: kavoon;

  }
  
  /* Hamburgeren laves gøres usynlig */
  /* De tre streger */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background-color:rgba(33, 114, 117, 1);
    
  }
  /* ... go gøres usynlig som standart */
  .hamburger {
    display: none;
  }
  
  /* Styling af menuen */
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link {
    color:  rgba(33, 114, 117, 1);
  }
  

  
  @media (max-width: 700px) {
    .nav-menu {
      position: fixed;
      right: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: lightpink;
      width: 50%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    }
  
    .nav-menu.active {
      right: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(33, 114, 117, 1) ;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    /* Linjerne i burgermenuen danner et krys, når der klikkes på menuen.
    De danner tilsammen et kryds. */
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      translate: 0 8px;
      rotate: 45deg;
    }
  
    .hamburger.active .bar:nth-child(3) {
      translate: 0 -8px;
      rotate: -45deg;
    }
  }
  