main {
  list-style: none;
  margin: 2% 12%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

h1 {
color: #F9D44D;    
font-family: kavoon;
text-align: center;
text-decoration: dashed;
-webkit-text-stroke: 1px rgb(255, 94, 0);
font-size: xx-large;

}
img{
  max-width: 100%;
}

body{
  background-color:  #FF6814;
}

a:hover{
  font-size: 250%;
}

.navigation{
  color: rgb(255, 218, 34);
  text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: kavoon;
    -webkit-text-stroke: 1px red;

}

.gotil{
  color: orangered;
  font-family: kavoon;
  -webkit-text-stroke: 1px red;
}

footer{
  color: black;
  background-image: url(../img/Footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem
  
}
.footervenstre{
text-align: left;
}

.footerhøjre{
text-align: right;
}


