main {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  max-width: 1100px;
  margin: 2em 2em 2em 5em;
  background-color:  #cf6509;
  padding: 1% 2%;
}
body{
  max-width: 1100;
  /* background-color:  #cf6609cd; */
  margin: auto;
  background-image: url(../img/Footer.svg);
}
p{
  max-width: 60ch;
  margin: auto;
}

h1 {
color: #F9D44D;    
font-family: kavoon;
text-align: center;
text-decoration: dashed;
font-size: xx-large;
}

h2{
text-align: center;
}

h4{
  text-align: center;
}

img{
  max-width: 100%;
}

.imghalv2{
  max-width: 100%;
  max-height: 100%;
}

.imghalv{
  max-width: 50%;
  max-height: 50%;
}


a:hover{
  font-size: 120%;
}

.navigation{
  color: rgb(255, 218, 34);
  text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: kavoon;
    -webkit-text-stroke: 1px red;
}

/* "projekt oversigt" knap.  */
.dropbtn {
  background-color: rgba(33, 114, 117, 1);
  padding: 10px;
  font-family: kavoon;    
  color: orange;
  border: none;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); ;
  cursor: pointer;
  /* margin-left: auto; */
}

/* Hvad der sker når musen klikkes på knappen og holder over knappen */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* div klassen "dropdown" skal have postition relativ for at blive i sin normale position */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgba(33, 114, 117, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: palevioletred;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.gotil{
  color: orangered;
  font-family: kavoon;
  -webkit-text-stroke: 1px red;
}

.hjemmesiden{
  background-color: rgba(33, 114, 117, 1);
padding: 10px;
font-family: kavoon;    
border: none;
box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); ;
cursor: pointer;
text-align: center;
margin-top: 10%;
}
.hjemmesideknap{
  color: orange;
}

footer{
  color: black;
  /* background-image: url(../img/Footer.svg);
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: 0.5; */
    margin-top: 20%;
}
.footervenstre{
text-align: left;
}
.footerhøjre{
text-align: right;
}

@media (min-width: 700px) {

  .navigation{
    display: flex;
    padding: 20%;
  }
}


