.hero{
position: relative;
  text-align: center;
  font-size: x-large;
}
.billedeteksten{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(255, 225, 0);
    border-radius: 3px;
    font-size: xxx-large;
    /* -webkit-text-stroke: 1px red; */
    font-family: kavoon;
}


@media (min-width: 600px) {

.footerindex{
  margin-top: 10%;
}
}