.projekterimg{
    filter: grayscale(80%);
    border-radius: 10%;
    
}
.billedeteksten2{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 225, 0);
  border-radius: 3px;
  font-size: xx-large;
  -webkit-text-stroke: 1px red;
  font-family: kavoon;
}


.projekter{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    margin-bottom: 5%;
  }

  @media (min-width: 700px){
    .billedeteksten2{
        font-size: xxx-large;

    }
    .grid_1_1_1{
        display: grid;
    grid-template-columns: 1fr 1fr 0.9fr;
    align-items: center;
    gap: 0.5em;
    }
    .grid_1_1{
        display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
    gap: 0.5em;
    max-width: 700px;
    margin: 0 20% 0 20%;
    }
  }